html {
    margin : auto;
    max-width: 600px;
    background-color: black;
}

header, h1 {
    text-align: center;
}

body {
    background-color:white;
}

h2 {
    color: blue;
    font-size: 25px;
}

h1 {
    font-size: 60px;
}


